.hero {
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #202020;
  align-items: center;
}

.hero-content {
  flex: 5 1 18rem;
  margin-bottom: 2.4rem;
}

.banner {
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 68%;
  margin-left: 10px;
}

.banner-title {
  font-family: 'Jedi', sans-serif;
  color: #a7a7a7;
  font-size: calc(2.4rem + 1vw);
  line-height: 0.7;
  margin: 0;
}

.banner-subtitle-container {
  align-items: baseline;
  justify-content: flex-start;
  width: 93%;
  margin: 0;
}

.banner-subtitle {
  font-family: 'BrandonGrotesqueBlack', sans-serif;
  color: #5e5e5e;
  font-size: calc(.958rem + 0.488vw);
	margin-right: calc(2.3rem + 2.5vw);

}

.banner-subtitle-alt-sm {
  font-family: 'Jedi', sans-serif;
  font-size: 1.2rem;
}

.hero-image {
  flex: 1 3 10rem;
  img {
    width: 100%;
  }
}

.hero-call-to-action {
  margin: 2.5rem 0;
}

.hero-btn {
  max-width: 90vw;
  margin-left: 0;
  font-size: 0.9rem;
}

.site-logo {
  width: 464px;
  max-width: 50%;
  height: auto;
  margin-bottom: 4rem;

  img {
    width: 30%;
    height: auto;
  }
}
