/* Base Rules */
@import-normalize;
@font-face {
  font-family: 'Jedi';
  src: local('Jedi'), url('./assets/fonts/Jedi.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonGrotesqueBlack';
  src: local('BrandonGrotesqueBlack'),
    url('./assets/fonts/BrandonGrotesque-Black.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'BrandonGrotesqueBold';
  src: local('BrandonGrotesqueBold'),
    url('./assets/fonts/BrandonGrotesque-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'BrandonGrotesqueThin';
  src: local('BrandonGrotesqueThin'),
    url('./assets/fonts/BrandonGrotesque-Thin.woff2') format('woff2');
  font-weight: 200;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #313131;
  color: white;
  font-family: BrandonGrotesqueBold, sans-serif;
}

/* Layout rules */
.container {
  width: 85%;
  margin: 3.4rem auto 0px;
}

.flex {
  display: flex;
}

.section {
  height: 90vh;
  padding: 5%;
}

.section-main {
  background-color: #d30728;
}

.inline-block {
  display: inline-block;
}

/* Modules */

/*= Button =*/
.btn {
  display: inline-block;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin: 1rem;
  font-family: 'BrandonGrotesqueBlack', sans-serif;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  background: white;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  }
  &:active {
    transform: translateY(1px);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
  }
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background-color: #d30728;
  color: white;
}

/*= section =*/
.section-title {
  text-decoration: underline;
}

/*= gallery =*/
$gap: 1rem;
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: (-$gap) 0 0 (-$gap);
  width: calc(100% + $gap);
  justify-content: space-between;
  align-items: center;
}

.gallery > * {
  margin: $gap 0 0 $gap;
}

.gallery-item {
  flex: 1 1 150px;
}

/*=card =*/
.card {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background: yellow;
  color: black;
}
